[submodule "kx-user-details-service-public"]
	path = kx-user-details-service-public
	url = git@github.com:JadenX-GmbH/kx-user-details-service-public.git
[submodule "kx-gig-service-public"]
	path = kx-gig-service-public
	url = git@github.com:JadenX-GmbH/kx-gig-service-public.git
[submodule "kx-blockchain-middleware-public"]
	path = kx-blockchain-middleware-public
	url = git@github.com:JadenX-GmbH/kx-blockchain-middleware-public.git
[submodule "kx-execution-service-public"]
	path = kx-execution-service-public
	url = git@github.com:JadenX-GmbH/kx-execution-service-public.git
[submodule "kx-frontend-public"]
	path = kx-frontend-public
	url = git@github.com:JadenX-GmbH/kx-frontend-public.git
